@tailwind base;
@tailwind components;
@tailwind utilities;

.jumbo2 {
    height: 40vh;
    background-position: 0% 65%;
    background-color: white;
    background-image: url('~assets/img/backgrounds/glass_architecture.jpg');
}

.jumbo {
    height: 30vh;
    background-attachment: initial;
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: auto cover;
    background-image: url('~assets/img/backgrounds/glass_architecture.jpg');
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.link-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 md:p-0 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-800
}


.link-item-active {
    @apply block py-2 pr-4 pl-3 text-white bg-blue-800 md:hover:bg-transparent hover:bg-blue-800 rounded md:bg-transparent md:text-blue-800 md:p-0
}

.footer-link-item {
    @apply ml-4 text-blue-800 md:ml-6
}


.backdrop-blur-CUSTOM {
    backdrop-filter: blur(12px);
}